/* Main Elements */

body {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.navbar-brand {
  color: #a2385c !important;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

.nav-item {
  font-family: 'Work Sans', sans-serif;
  color: #783a4f !important;
}

a {
  text-decoration: none !important;
}

.nav-item:hover {
  color: #391723 !important;
}

.active {
  color: #391723 !important;
}

.text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #391723;
}

.container2 {
  color: #391723;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.cont {
  background-color: #f8f9fa;
  color: #391723;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

.cont h1 {
  font-size: 30px;
  color: #a2385c !important;
  font-weight: bold;
}

.foot {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
  clear: both;
  color: #391723;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

.foottop {
  width: 100%;
  height: 8px;
  margin-top: -25px;
  opacity: 90%;
}

/* Index.html */

.importantcolor {
  color: #a2385c;
}

.card{
  background-color: #f8f9fa !important;
}

.card-text {
  color: #391723 !important;
  font-weight: 300;
}

.profile {
  margin-right: 10px;
}

.profile img {
  width: 260px;
  height: auto;
}

.card-title{
  font-size: 30px;
  color: #a2385c;
}

.flex {
  display: flex;
}


/* Contact.html */

.social {
  height: 70px;
  width: 70px;
  margin-right: 75px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: palevioletred !important;
  border: #b12a5b !important;
}

/* Media */

@media screen and (max-width: 640px) {

  .profile {
    display: flex;
    justify-content: center;
  }

  .profile img {
    width: 100%;
    height: 100%;
  }

  .flex {
    flex-direction: column;
  }

  .social {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
}
